# Copyright 2024 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: natsjetstream-broker-controller
  namespace: knative-eventing
  labels:
    nats.eventing.knative.dev/release: devel
    eventing.knative.dev/brokerRole: controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: natsjetstream-broker-controller
  template:
    metadata:
      labels:
        app: natsjetstream-broker-controller
        eventing.knative.dev/brokerRole: controller
    spec:
      serviceAccountName: natsjetstream-broker-controller
      containers:
        - name: controller
          image: ko://knative.dev/eventing-natss/cmd/broker
          env:
            - name: SYSTEM_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: CONFIG_LOGGING_NAME
              value: config-logging
            - name: CONFIG_OBSERVABILITY_NAME
              value: config-observability
            - name: METRICS_DOMAIN
              value: knative.dev/eventing
            - name: BROKER_INGRESS_IMAGE
              value: ko://knative.dev/eventing-natss/cmd/ingress
            - name: BROKER_FILTER_IMAGE
              value: ko://knative.dev/eventing-natss/cmd/filter
            - name: BROKER_INGRESS_SERVICE_ACCOUNT
              value: natsjetstream-broker-dataplane
            - name: BROKER_FILTER_SERVICE_ACCOUNT
              value: natsjetstream-broker-dataplane
          ports:
            - containerPort: 9090
              name: metrics
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: config-nats
              mountPath: /etc/config-nats
              readOnly: true
      volumes:
        - name: config-nats
          configMap:
            name: config-nats
